<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoadPageProductControl</servlet-name>
        <servlet-class>controller.LoadPageProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReloadThePageControl</servlet-name>
        <servlet-class>controller.ReloadThePageControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailControl</servlet-name>
        <servlet-class>controller.ProductDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>controller.EditProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadPageProductControl</servlet-name>
        <url-pattern>/page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReloadThePageControl</servlet-name>
        <url-pattern>/reload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailControl</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
</web-app>
